
body{
	 margin-top: 2vh;
	 font-family: 'Dancing Script', cursive;
	 color: #fff; /*white*/
	 background-color: #02010a;
	 animation: animaSlid 1s;
}
@-webkit-keyframes animaSlid
{
 from 	{
	 margin-top:150%;
 }
 to 	{
	 margin-top:-5%;
	 }
}

#contenido
{
	display: flex;
	flex-direction: column;
	 max-width: 900px;
	 margin: 0 auto;
}

header{
  background-color: #5b7989;
  height: 80px;
	border-radius: 10px 10px 0px 0px ;
	color: white;
	text-shadow: 2px 2px #02010a;
	max-width: 900px;
}

header h1{
	padding-left: 2vh;
  float: left;
	padding-bottom: 0;
	margin-bottom: 0;
}
header nav{
  float: right;
  display: block;
 	margin: 3vh 5vh 0 0;
	font-size: 1.3em;
}
#menu-principal a
{
	color: white;
	text-shadow: none;
	padding: 2vh;
}
 #pag-actual
{
	text-decoration: none;
}

.contenido1{
  display: flex;
	flex-direction: column;
	width: 100%;

	background-color:#82c3a6;
	margin: 0 auto;
	text-align: center;
	max-width:900px;
}
#imagenPrincipal>div
{
	text-align:center;
	padding-bottom: 1%;
	padding-top: 1%;
}
#imagenPrincipal>div> img{
	width: 80%;
	box-shadow: 2px 2px 2px #02010a;
}

#imagenSecundaria{
	background-color: #d5c75f ;
	border: 1px solid black;
}
#imagenSecundaria img{

		box-shadow: 2px 2px 2px #02010a;
}
.contenido2{
	/* display: flex;
	flex-direction: row; */
	display: flex;
  flex-flow: row wrap;
	width: 100%;
	text-align: center;
	color: black;
	text-decoration: underline;
}
.contenido2 div{
	max-width: 50%;
}
.bloque2 img{
	margin-top: 3vh;
	max-width: 90%;
	width: 80%;
	height: 80%;
}

.bloque3 img{
	margin-top: 3vh;
	max-width: 90%;
	width: 80%;
	height: 80%;
}

.bloque2 img:hover{
	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	border: 2px solid black;
	box-shadow:2px 2px 2px #82c3a6;
}
.bloque3 img:hover{
	border: 2px solid black;
	-ms-transform: translate(20px,-5px);
	-webkit-transform: translate(20px,-5px);
	transform:translate(-5px, 20px);
	box-shadow:2px 2px 2px #82c3a6;
}
.bloque2, .bloque3, .bloque4, .bloque5{
	width: 50%;

}
.bloque5 , .bloque4{
	height: 20%;
		font-size:2vw;
}
.contenidoPie{
	display: flex;
	flex-direction:row;
	max-width: 900px;
	width: 100%;
}
div[class^='columna']{
	/* padding: 0.5%; */
	padding-top: 1px;
	width: 25%;
	text-align: center;
	background-color: #C6d5c5;
	color: black;
	font-size: 1.1em;
	 margin: 0 auto;
}

.columna1{
	border-radius: 0 0 0 10px;
}
.columna4{
	border-radius: 0 0 10px 0;
}
/* .columna3 a,
.columna1 a
{
	color: black !important;
	text-decoration: none !important;
}
.columna1 ul,
.columna3 ul{
	list-style:none;
	text-align: justify;
} */
.columna1 a,
.columna3 a,
.columna1 ul,
.columna3 ul{
	list-style:none;
	text-align: justify;
	color: black !important;
	text-decoration: none !important;
}
