
body{
	 margin-top: 4px;
	 font-family: 'Dancing Script', cursive;
	 color: #fff; /*white*/
	 background-color: #02010a;
	 animation: animaSlid 1s;
}
@-webkit-keyframes animaSlid
{
 from 	{
	 margin-top:150%;
 }
 to 	{
	 margin-top:-5%;
	 }
}

#contenido
{
	display: flex;
	flex-direction: column;
	 max-width: 900px;
	 margin: 0 auto;
}

header{
  background-color: #5b7989;
  height: 80px;
	border-radius: 10px 10px 0px 0px ;
	color: white;
	text-shadow: 2px 2px #02010a;
	max-width: 900px;
}

header h1{
	padding-left: 2vw;
  float: left;
	padding-bottom: 0;
	margin-bottom: 0;
}
header nav{
  float: right;
  display: block;
 	margin: 2vw 1vw 0 0;
}
#menu-principal a
{
	color: white;
	text-shadow: none;
	padding: 1vw;
}
 #pag-actual
{
	text-decoration: none;
}

.contenido1{
  display: flex;
	flex-direction: column;
	width: 100%;
	background-color:#82c3a6;
	margin: 0 auto;
	text-align: center;
	max-width:900px;
}
#imagenPrincipal>div
{
	text-align:center;
	padding-bottom: 1%;
	padding-top: 1%;
}
#imagenPrincipal>div> img{
	width: 80%;
	box-shadow: 2px 2px 2px #02010a;
}

#imagenSecundaria{
	background-color: #d5c75f ;
	border: 1px solid black;
}
#imagenSecundaria img{

		box-shadow: 2px 2px 2px #02010a;
}
.contenido2{
	display: flex;
  flex-flow: row wrap;
	width: 100%;
	text-align: center;
	color: black;
	text-decoration: underline;
}
.contenido2 div{
	/* max-width: 50%; */
}

.bloque2 img, .bloque3 img{
	margin-top: 15px;
	padding-bottom: 0px;
	max-width: 90%;
	max-height: 90%;
}

.bloque2 img:hover{
	transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	-webkit-transform: rotate(10deg);
	border: 2px solid black;
	box-shadow:2px 2px 2px #82c3a6;
}
.bloque3 img:hover{
	border: 2px solid black;
	-ms-transform: translate(20px,-5px);
	-webkit-transform: translate(20px,-5px);
	transform:translate(-5px, 20px);
	box-shadow:2px 2px 2px #82c3a6;
}
.bloque2, .bloque3, .bloque4, .bloque5{
	width: 50%;

}
.bloque5 , .bloque4{
	height: 20%;
		 font-size:20px;
}
footer{
	border-radius: 0 0 10px 10px;
}
.contenidoPie{
	display: flex;
	flex-direction:row;
	max-width: 900px;
	width: 100%;

}
 div[class^='columna']{
	padding-top: 1px;
	width: 25%;
	text-align: center;
	background-color: #C6d5c5;
	color: black;
	 margin: 0 auto;
	 padding-bottom: 20px;
}

.columna1{
	border-radius: 0 0 0 10px;
}
.columna4{
	border-radius: 0 0 10px 0;
}
.columna1 a,
.columna3 a{
	list-style:none;
	color: black !important;
	text-decoration: none !important;
}

#galeria{
	display: flex;
	flex-direction: column;
	background-color: #d5c75f;
}
.div_galeria1, .div_galeria2{
	display: flex;
	flex-direction: row;
}
.div_galeria1>div,
.div_galeria2>div{
	width: 33%;
	/* height: 200px; */
	padding-top: 20px;
	text-align: center;
}

img{
		vertical-align: middle;
}
.div_galeria1>div>img,
.div_galeria2>div>img{
	box-shadow: 2px 2px 2px #02010a;
	max-width: 90%;
	max-height: 80%;
}

#foto1{
	-webkit-filter:blur(10px);/* Chrome, Safari, Opera */
	filter: blur(10px);
}
}
#foto3{
	-webkit-filter: sepia(90%);/* Chrome, Safari, Opera */
	filter: sepia(90%);
}

#fotopar{
	-webkit-filter:grayscale(100%);/* Chrome, Safari, Opera */
	filter: grayscale(100%);
}
/* *****************/


/* DISPOSITIVOS MOVILES */


/*************** */

@media (max-width:900px) {
	body{
		 margin-top: 0.5vw;
	}

	#contenido
	{
		display: flex;
		flex-direction: column;
		 min-width: 100%;
		 margin: 0px auto;
	}

	header{
	  height: 140px;
		display: flex;
		flex-direction: column;
	}

	header h1{
		padding-left: 2px;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	header nav{
	  display: block;
	 	margin: 2vw 1vw 0 0;
		text-align: center;
	}

	#imagenSecundaria{
		background-color: #d5c75f ;
		border: 1px solid black;
	}
	#imagenSecundaria img{

			box-shadow: 2px 2px 2px #02010a;
	}

	.contenidoPie{
		display: flex;
		flex-direction:column;
		max-width: 900px;
		width: 100%;
	}
	div[class^='columna']{
		padding-top: 1px;
		width: 100%;
	}
	.columna1{
		border-radius: 0 0 0 0;
	}
	.columna4{
		border-radius: 0 0 10px 10px;
	}
}
@media (max-width:600px) {

	.contenido2, .div_galeria1, .div_galeria2{
		display: flex;
		flex-flow: column;
		width: 100%;
		text-align: center;
		color: black;
		text-decoration: underline;
	}
	.contenido2 div{
		max-width: 100%;
	}
	.bloque2 img{
		margin-top: 3vw;
	}
	.bloque3 img{
		margin-top: 3vw;
	}

	.bloque2, .bloque3, .bloque4, .bloque5, .div_galeria1 div,
	.div_galeria2 div{
		width: 100%;
	}
	.bloque2{
		order:1;
	}
	.bloque3{
		order:3;
	}
	.bloque4{
		order:2;
		height: 30px;
	}
	.bloque5{
		order:4;
		height: 30px;
	}
	.columna1{
		border-radius: 0 0 0 0;
	}
	.columna4{
		border-radius: 0 0 10px 10px;
	}
}
